@model Rhythmify.Models.Conversation
@{
    string displayName = null;
}
@{
    string currentUserId = this.ViewData.ContainsKey("userId")
    ? this.ViewData["userId"].ToString() : string.Empty;
}

<div class="card-body">

    <h3 class="card-title alert-success py-3 px-3 rounded-2">
        @{
            if (currentUserId != null)
            {
                displayName = ViewBag.ReceiverUsers[ViewBag.Index].DisplayName;
            }
            else
            {
                displayName = "Failed";
            }
        }
        @displayName
    </h3>

</div>

