@model Rhythmify.Models.Conversation
@{
    string displayName = null;
}
@{
    string currentUserId = this.ViewData.ContainsKey("userId")
    ? this.ViewData["userId"].ToString() : string.Empty;
}



    <div class="card-body">
        <div class="d-flex align-items-center">
            <img src="@ViewBag.ReceiverUsers[ViewBag.Index].ProfilePicture" alt="@displayName's Profile Picture" class="rounded-circle me-3" style="width: 50px; height: 50px;">
            <div>
            <h5 class="mb-0">@ViewBag.ReceiverUsers[ViewBag.Index].DisplayName</h5>
                <small class="text-muted">@ViewBag.ReceiverUsers[ViewBag.Index].UserName</small>
            </div>
        </div>
    </div>
