@{
    ViewBag.Title = "Conversations";
}

<br />

<h2 class="text-center">Conversations</h2>

<br />
@{
    string userId = ViewBag.UserId;
}

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Conversations/New">New Conversation</a>
    <br />
</div>

<br />
@{
    ViewBag.Index = -1;
    ViewBag.AreConv = false;
}
@foreach (Rhythmify.Models.Conversation conversation in ViewBag.Conversations)
{
    <div class="card">
        @{
            ViewBag.AreConv = true;
            ViewBag.Index += 1;
        }
        @Html.Partial("ConversationInfo", conversation, new ViewDataDictionary(ViewData) { })


        <a class="btn btn-success" href="/Conversations/Show/@conversation.Id">Show Conversation</a>

    </div>

    <br />
    <br />

}

@if (ViewBag.ArePostari == false)
{
    <div class="text-center">
        <h4>
            No conversations? Try
            <a class="d-inline" asp-area="" asp-controller="Conversations" asp-action="New">starting a new one</a>!
        </h4>
    </div>
}


