@model SpotifyAPI.Web.SearchResponse

<h1>Search Spotify Tracks</h1>
<form method="post" asp-action="Search">
    <input type="text" name="query" placeholder="Enter song name" />
    <button type="submit">Search</button>
</form>

@if (Model != null && Model.Tracks != null && Model.Tracks.Items != null)
{
    int i = 0;
    <ul>
        @foreach (var item in Model.Tracks.Items)
        {
            i += 1;
            <li>@item.Name by @item.Artists[0].Name</li>
            <div id="embed-iframe-@i"></div>
        }
    </ul>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async=""></script>
    <script>
        window.onSpotifyIframeApiReady = (IFrameAPI) => {
        @for (int j = 1; j <= i; j++)
        {
            <text>
                IFrameAPI.createController(document.getElementById('embed-iframe-@j'), {
                    width: '50%',
                    height: '160',
                    uri: '@Model.Tracks.Items[j-1].Uri'
                }, (EmbedController) => { });
            </text>
        }
                };
    </script>
}