@model IEnumerable<Rhythmify.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<h2 class="text-center">Posts</h2>

<br />

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Posts/New">New Post</a>
    <br />
</div>

<br />

@{
    ViewBag.ArePostari = false;
}

@foreach (Rhythmify.Models.Post post in ViewBag.Posts)
{
    ViewBag.ArePostari = true;
        @Html.Partial("PostInfo", post)
}

@if (ViewBag.ArePostari == false)
{
    <div class="text-center">
        <h4>
            No posts? Try
            <a class="d-inline" asp-area="" asp-controller="Connections" asp-action="Index">following someone</a>
            or make a new post!
        </h4>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
